// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

// gridの調整

body {
    width: 1200px;    
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template: 
        "... .....  .....   .....  ..." 50px
        "... header header  header ..." 150px
        "... main   main    main   ..." 400px
        "... left   left    right  ..."  minmax(500px,800px)
        "... footer footer  footer ..." 450px
        / 10px  1fr 1fr 1fr 10px; 
}

header {
    grid-area: header;    
}

#main {
    grid-area: main;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}


footer {
    grid-area: footer;
}


@media screen and (max-width: 768px) {
    body {
        grid-template:
            "header"    150px
            "main"      1fr
            "left"      1fr
            "right"     1fr
            "footer"    1fr
    }
}


// ここから各要素の配置




nav {
    background-color: black;
}

nav ul {
    display: flex;
    align-items:center;
    width: 100%;
}

#header-menus li {
    padding: 10px 60px 10px 0;
    list-style: none;
    color: white;
}


// .header-container {
//     max-width: 100%;
//     padding: 0 16px;
//     margin: 0 auto;
// }





// .globalMenus {
//     text-decoration: none;
//     color: white;
// }


// .sized {
//     border-style:none;
//     width: 100%;
// }

// #container {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 60px;
// }




// .copy-containertop {
//     padding: 10px 10px;
// }

// .link {
//     text-align: center;
// }

// h2 {
//     text-align: center;
// }

// p {
//     text-align: center;
// }



// .main-sized {
//     width: 100%;
// }


// .main-containertop {
//     width: 66%;
//     padding:10px 10px;
// }


// .main-container-right {
//     width: 33%;
//     margin: 0 auto;
// }

// .author {
//     width: 33%;
// }

// .author-sized {
//     width: 120px;
//     border-radius: 50%;
// }

// .ranking-img {
//     width: 100%;
// }

// .Archive li {
//     list-style: none;
//     padding: 5px 5px;
// }

// .Archive-list {
//     border-bottom: solid 2px #000;
// }

// #footer {
//     display: flex;
//     justify-content: space-between;
// }




// .footer-parts {
//     max-width: 1200px;
//     width: 100%;
//     padding: 20px 30px;
// }


// .footer-parts h2 {
//     padding: 20px auto;
// }

// .footer-parts p {
//     font-size: 14px;
// }

// .footer-list li {
//     border-bottom: solid 2px #000 ;
//     list-style: none;
// }


// .footer-list::before {
//     position: absolute;
//     content: '';
//     width: 0;
//     height: 0;
//     border: solid 6px transparent;
//     border-left: solid 8px #697b91;
//     top: 50%;
//     left: 0;
//     margin-top: -5px;
// }