// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

// gridの調整 layoutの調整

body {
    margin: 0 auto;
    display: grid;
    grid-template: 
        "... header header  header ..." 150px
        "... main   main    main   ..." 
        "... sub    sub     sub  ..." minmax(800px,1fr)
        "... footer footer  footer ..." 450px
        / auto 1fr 1fr 1fr auto; 
}

header {
    grid-area: header;
}

#main {
    grid-area: main;
    display: flex;
}

// subの内容をより詳細にgrid

#sub {
    grid-area: sub;
    display: grid;
    grid-template:
        "left left right" minmax(800px,1fr)
        / 1fr 1fr 1fr;
}


#left {
    grid-area: left;
    padding: 10px;
}

// subのright contentsを調整

#right {
    grid-area: right;
    display: grid;
    grid-template:
        "author"
        "ranking"
        "Archive"
}

// writer表示箇所

#author {
    grid-area: author;
}

// blogのrankingの箇所
#ranking {
    grid-area: ranking;
}

#Archive {
    grid-area: Archive;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template:
        "footer-left footer-center footer-right" 1fr
        / 1fr 1fr 1fr;
    
    max-width: 1200px;
    background-color: #F7F7F7;
}


#footer-left {
    grid-area: footer-left;
}

#footer-center {
    grid-area: footer-center;
}


#footer-right {
    grid-area: footer-right;
    max-height: 450px;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


// responsive

@media screen and (max-width: 768px) {
    body {
        grid-template:
            "header"    150px
            "main"      1fr
            "left"      1fr
            "right"     1fr
            "footer"    1fr
    }
}


// ここから各要素の配置


// 全体に共通するcss
.center {
    display:block;
    text-align: center;
}


// header


nav {
    background-color: black;
    width: 100%;
}

nav ul {
    display: flex;
    align-items:center;
    width: 100%;
}

.wrapper li {
    padding: 10px 60px 10px 0;
    list-style: none;
    color: white;
}




// main

.copy-container {
    margin: 10px 10px;
}

.sized {
    width: 100%;
}

.copy-container h2 {
    font-size: 16px;
}

.copy-container .link {
    text-align: center;
}


// left


.main-sized {
    width: 100%;
    padding: 10px 10px;
}


// right

.author-sized {
    width: 120px;
    border-radius: 50%;
}

.ranking-img {
    width: 100%;
}

.Archive-list {
    border-top: 1px solid #777777;
    padding: 20px;
    text-align: left;
    display: block;
    font-size: 0.8rem;
}


// foooter

.footer-color {
    background-color: #F7F7F7;
}

.footer-layout {
    padding: 15px;
}

.footer-border {
    border-top: 1px solid #777777;
    padding: 5px;
    text-align: left;
    display: block;
    font-size: 0.8rem;
}
